@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(56, 50, 35, 0.84);
}
.header{
    font-family: 'Bungee Spice', cursive;
    font-size: 26px;
    padding: 30px;
    text-align: center;
    background-color: rgba(56, 50, 35, 1);
}
.selections{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid yellow;
    padding: 40px;
    gap: 50px;
}
.selections .selection{
    padding: 30px;
}