@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bungee Spice', cursive;
}
body{
    background-color: rgba(56, 50, 35, 0.84);
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header{
    font-size: 26px;
    padding: 30px;
    text-align: center;
    background-color: rgba(56, 50, 35, 1);
    border: 1px solid yellow;
}
.selections, .play-again{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid yellow;
    padding: 70px;
    gap: 50px;
}
.selections .selection, .new-game{
    font-size: 25px;
    height: 80px;
    width: 150px;
    background-color: rgba(56, 50, 35, 0.7);
}
.result{
    flex: 1;
    border: 1px solid yellow;
}
.point-container{
    display: flex;
    justify-content: space-around;
    padding: 40px;
}
.winner{
    text-align: center;
    font-size: 28px;
    padding: 40px;
}
.hidden{
    display: none;
}